$color-blue: #4F8EF5;
$color-white: #fff;
$color-black: #000;
$color-purple: #754897;
$font-stack: Roboto;


$font-size-logo-xs: 3rem;
$font-size-logo-sm: 3rem;
$font-size-logo-md: 3.5rem;
$font-size-logo-lg: 4rem;
$font-size-logo-xl: 5rem;

$font-size-heading-xs: 2rem;
$font-size-heading-sm: 2.3rem;
$font-size-heading-md: 2.6rem;
$font-size-heading-lg: 3rem;
$font-size-heading-xl: 3.6rem;

