
@import './abstracts/_variables';
@import './abstracts/_mixins';
@import './base/_base';


.header{
  // background: url("../img/waves-down.jpg") top;
  // background-size: 133% 113%;
  // padding-bottom: 90px;
  position: relative;
  &__waves-down{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      top:35%;
  }
  padding-bottom: 90px;
  &__logo{
    font-size: $font-size-logo-xs;
    margin: 28px 0px 39px 0px;
    letter-spacing: .2rem;
  }
  &__sub-logo{
    display: inline-block;
    color: $color-white;
    background: $color-purple;
    font-size: 1rem;
    padding: 2px;
    position: relative;
    top:-6px;
  }
  
  &__heading{
      font-size: $font-size-heading-xs;
      color: $color-blue;
      padding: 0px 0px 10px 0px
  }

  &__left-photo{
    width: 100%;
    height: 100%;
    padding-top:10px;
  }
  &__right{
    &-heading{
      display: none;
    }
    &-bottom{
      display: none;
    }
  }

  &__bottom{
    width: 100%;
    &-heading{
      font-size: $font-size-heading-xs;
      padding: 27px 0px 5px 0px;
    }
  } 
}

.story{
  margin: 20px 0px 5px 0px;
  &-box{
        text-align: center;
        &__title{
           color: $color-blue;
           padding: 0px 10px 20px 10px;
           font-size: $font-size-heading-xs;
        }
        &__content{
           p{

           }
        }
     }
}

.feature{
  background: url('../img/waves-up.jpg') bottom;
  background-size: 240% 113%;
  padding-top: 90px;
  // background: url('../img/waves-up.svg') no-repeat;
  // background-size: cover;
  // padding-top: 11%;
  // padding-bottom: 60px;


  &__title{
     padding: 20px 0px;
     margin-top: 7vh;
     font-size: $font-size-heading-xs;
     color: $color-blue;
  }

  &-mobile__vertical--center{
     display: flex;
     justify-content: center;
  }

  &__box{
     background-color: $color-blue;
     box-shadow: 0px 2px 4px rgba(106, 110, 113, 0.35);
     border-radius: 6px;
     width: 30%;
     margin: 3px;
     padding: 10px;
  }

  &__card{
     text-align: center;
  }
  &__photo{
    width: 46px;
    height: 46px;
  }
  &__content{
     color: $color-white;
     margin: 10px 0px 0px 0px;
  }
}

.smartphone{
   background: url('../img/waves-down.jpg') no-repeat;
   background-size: 100% 100%;
   position: relative;
   &__picture{
      width: 100%;
      height: 100%;
   }
   &__box{
      position: absolute;
      top: 30%;
      left: 50px;
      width: 35%;
   }

   &__heading{
      font-size: $font-size-heading-xs;
      color: $color-white;
   }
   

   &__download-buttons{
      a{
         img{
             padding-bottom: 5px;
         }
      }
   }

}

.faqs{
  margin-bottom: 4rem;
  margin-top: 3.3rem;
  &__title{
     text-align: center;
     font-size: $font-size-heading-xs;
     color: $color-blue;            
  }
  &-box{
     margin-bottom: 10px;

     &__title{
        padding: 10px 20px 10px 20px;
        background-color: rgba($color-blue, 0.4);
        font-size: 1.4rem;
        display: inline-block;
        color: $color-black;
        text-decoration: none;
        position: relative; 
        &:hover{
           color: $color-black;
           text-decoration: none;
        }                      
     }
     &__icon{
        display: inline-block;
        font-size: 1rem;
        position: absolute;
        right: 15px;
        font-weight: bold;
        top: 16px;                           
     } 
     &__collapse{
        padding: 10px 20px 10px 20px;
        transition: all .2s;
        background-color: rgba($color-blue, 0.2);
     }
  }
  .btn__custom{
     border: 1px solid $color-blue;
     border-radius: 4px;
     padding: 5px;
     width: 100%;
  }
  .btn__text-large{
     font-size: 1.4rem;
  }
}

.footer{
  background-color: rgba($color: $color-purple, $alpha: .25);
  padding: 25px 20px 5px 20px;
  font-size: 1.3rem;
  &__title{
      font-size: 1.3rem;
  }
  &__list-group{
     list-style-type: none;
  }

  &__item{
     padding: 8px 0px 0px 0px;
     display: block;
  }

  &__link{
     color: $color-black;
     &:hover{
        color: $color-black;
        text-decoration: none;
     }
  }      
}

#terms-and-conditions{
  font-size: 1.25rem;
  .modal-title{
     font-size: 1.25rem;
  }
  .close{
     font-size: 2.5rem;
  }
  p{
     text-align: justify;
  }
}


@include sm{
  body{
    font-size: 1.4rem;
 }
 .header{
    &__waves-down{
        top:28%;
    }
    &__logo{
      font-size: $font-size-logo-sm;
    }
     &__heading{
        display: none;
     }
     &__right{
       &-heading{
          color: $color-blue;
          font-size: $font-size-heading-sm;
          padding: 10px 0px;
          display: block;
       }
       &-content{

       }
       &-bottom{
          display: block;
          position: relative;
          bottom: 0;
          &-heading{
            color: $color-blue;
            font-size: $font-size-heading-sm;
            padding: 20px 0px 5px 0px;
            display: block;
          }
          &-downloads{
             a{
                img{
                   width: calc(98% / 2);
                }
             }
          }
       }
     }
     &__bottom{
        display: none;
     } 
  }

  .story{
    &-box{
        &__title{
            font-size: $font-size-heading-sm;
        }
    }
  }  

  .feature{

    &__waves-up{
      //  top: -120px;
    }

    &__title{
      font-size: $font-size-heading-sm;
    }


    &__box{
      margin: 8px;
    }

    &__photo{
      width: 15vw;
      height: 15vh;
    }
  }

  .smartphone{
    &__box{
       position: absolute;
       top: 40%;
       left: 50px;
       width: 70%;
    }
 
    &__heading{
       font-size: $font-size-heading-sm;
       padding-bottom: 10px;
    }
    
 
    &__download-buttons{
       a{
          img{
              padding-bottom: 5px;
          }
       }
    }
 
 }
 

  .faqs{
    &__title{
      font-size: $font-size-heading-sm;
    }
    &-box{
      &__title{
          font-size: 1.6rem;                  
      }
      &__icon{
          top: 18px;                           
      } 
    }
  }

  .footer{
    font-size: 1.4rem;
    &__title{
        font-size: 1.4rem;
    }
  }

}

@include md{
  body{
     font-size: 1.6rem;
  }
  .header{

    // &__waves-down{
    //   top: 26%;
    // }
    background-size: 130% 113%;
    &__logo{
      font-size: $font-size-logo-md;
      margin: 28px 0px 39px 0px;
      letter-spacing: .2rem;
    }
    &__sub-logo{
      top:-6px;
      font-size: 1.4rem;

    }
    &__right{
      &-heading{
         font-size: $font-size-heading-md;
      }
      &-content{

      }
      &-bottom{
         &-heading{
           font-size: $font-size-heading-md;
           padding: 20px 0px 14px 0px;
         }
         &-downloads{
            a{
               img{
                  width: calc(98% / 2);
               }
            }
         }
      }
    }

    &__left-photo{
      width: 100%;
      height: 87%;
      padding-top:0px;
    }
  }

  .story{
    &-box{
        &__title{
            font-size: $font-size-heading-md;
        }
    }
  }    

  .feature{
    padding-top: 130px;

    &__title{
      font-size: $font-size-heading-md;
    }

    &__box{
       width: 28%;
       margin: 10px;
       padding: 15px;
    }
    &__photo{
      width: 10vw;
      height: 10vw;
    }
  }

  .smartphone{
    &__box{
       position: absolute;
       top: 40%;
       left: 50px;
       width: 70%;
    }
 
    &__heading{
       font-size: $font-size-heading-md;
       padding-bottom: 10px;
    }
    
 
    &__download-buttons{
       a{
          img{
              width: calc(68% / 2);
              padding-bottom: 5px;
          }
       }
    }
 
 }  

  .faqs{
    &__title{
      font-size: $font-size-heading-md;
    }
    &-box{
      &__title{
          font-size: 1.8rem;                     
      }
      &__icon{
          top: 19px;                           
      } 
    }
    .btn__text-large{
      font-size: 1.8rem;
    }
  }

  .footer{
    font-size: 1.5rem;
    &__title{
        font-size: 1.5rem;
    }
  }
}

@include lg{
  body{
    font-size: 1.8rem;
 }
  .header{
    padding-bottom: 75px;

    &__waves-down{
      top: 24%;
    }

    &__logo{
      font-size: $font-size-logo-lg;
    }
    &__sub-logo{
      top:-6px;
      font-size: 1.4rem;
    }
    &__right{
      &-heading{
          padding: 15px 0px;
          font-size: $font-size-heading-lg;
      }
      &-content{
        padding: 10px 0px;
        height: 175px;
      }
      &-bottom{
          &-heading{
            font-size: $font-size-heading-lg;
            padding: 20px 0px 14px 0px;
          }
          &-downloads{
            a{
                img{
                  width: calc(70% / 2);
                }
            }
          }
      }
    }

    &__left-photo{
      width: 100%;
      height: 75%;
      padding-top:0px;
    }
  }

  .story{
    &-box{
        &__title{
            font-size: $font-size-heading-lg;
        }
    }
  }   

  .feature{
    // padding-top: 90px;

    &__title{
      font-size: $font-size-heading-lg;
    }

    &__box{
      width: 18%;
      height: 17vw;
      margin: 4px;
    }
    &__photo{
      width: 12vw;
      height: 5vw;
    }
  }  

  .smartphone{
    &__box{
       position: absolute;
       top: 40%;
       left: 50px;
       width: 70%;
    }
 
    &__heading{
       font-size: $font-size-heading-lg;
    }
    
 
    &__download-buttons{
       a{
          img{
              width: calc(50% / 2);
              padding-bottom: 5px;
          }
       }
    }
 
 }  


  .faqs{
  &__title{
    font-size: $font-size-heading-lg;
  }
  &-box{
    &__title{
        font-size: 2rem;                     
    }
    &__icon{
        top: 21px;                           
    } 
  }
  .btn__custom{
    width: 25vw;
  }
  .btn__text-large{
    font-size: 2rem;
  }
  }

  .footer{
    font-size: 1.6rem;
    &__title{
        font-size: 1.6rem;
    }
  }
}

@include xl{
  body{
    font-size: 2rem;
  }

  .header{
    padding-bottom: 90px;
    &__waves-down{
      top: 20%;
    }

    &__logo{
      font-size: $font-size-logo-xl;
      margin: 28px 0px 39px 0px;
      letter-spacing: .2rem;
    }
    &__sub-logo{
      top:-6px;
      font-size: 1.8rem;
    }
    &__right{
      padding-right: 50px;
      &-heading{
          font-size: $font-size-heading-xl;
      }
      &-content{
         height: 244px;
      }
      &-bottom{
          &-heading{
            font-size: $font-size-heading-xl;
            padding: 20px 0px 14px 0px;
          }
          &-downloads{
            a{
                img{
                  width: calc(90% / 2);
                }
            }
          }
      }
    }

    &__left-photo{
      width: 100%;
      height:80%;
      padding-top:0px;
    }
  }

  .story{
    &-box{
        &__title{
            font-size: $font-size-heading-xl;
        }
    }
  }    

  .feature{
    // background-size: 148% 113%;
    &__title{
        font-size: $font-size-heading-xl;
        color: $color-blue;
    }
    &__box{
        width: 220px;
        max-width: 220px;
        max-height: 220px;
        margin: 4px;
        padding: 15px;
    }

    &__photo{
        width: 90px;
        height: 90px;
    }
  }

  .smartphone{
    &__box{
       position: absolute;
       top: 40%;
       left: 50px;
       width: 70%;
    }
 
    &__heading{
       font-size: $font-size-heading-xl;
    }
    
 
    &__download-buttons{
       a{
          img{
              width: calc(55% / 2);
              padding-bottom: 5px;
          }
       }
    }
 
 }  

  .faqs{
    &__title{
      font-size: $font-size-heading-xl;
      padding-bottom: 15px;
    }
    &-box{
      margin-bottom: 20px;
      &__title{
          font-size: 2.2rem;                     
      }
      &__icon{
          top: 23px;                           
      } 
    }
    .btn__text-large{
      font-size: 2.2rem;
    }
  }

}


