
.heading-secondary{
   text-align: center;
   color: $color-blue;
}

/*#region HEADER*/ 
.header{
   background: url('../img/waves-down.jpg') top;
   background-size: 220% 113%;
   padding-bottom: 140px;

   &__title{
      margin: 17px 0px 7px 0px;
      font-size: 4rem;
      text-align: center;
      padding: 10px 0px 10px 0px;
      position: relative;
      letter-spacing: .2rem;
      font-weight: bold;
   }

   &__sub-title{

      padding: 5px;
      font-size: .8rem;
      color: $color-white;
      background-color: $color-purple;
      display: inline-block;
      margin: 0px 0px 0px 8px;
      position: absolute;
      top: 29px;
   }

   &__title-secondary{
      display: block;
      padding: 9px 0px;        
      font-size: $font-size-mobile-title;
   }

   &-left__photo{
      width: 100%;
      height: 90%;
      padding: 20px 0px 0px 0px;
   }

   &-right{
      &__sm-title{
         display: none;
      }
      &__content{

      }
      &__sm-bottom{
         display: none;
      }
   }

   &-bottom{

      display: block;
      margin: 10px 0px 10px 0px;
      width: 100%;

      &__title{
         font-size: $font-size-mobile-title;
      }
      &__download-buttons{
         a{
            img{
                height: auto;
            }
         }
      }
   }
}
/*#endregion HEADER*/

/*#region STORY*/ 
      .story{
         &-box{
            text-align: center;
            &__title{
               color: $color-blue;
               padding: 0px 10px 20px 10px;
               &--large{
                  font-size: $font-size-mobile-title;
               }
            }
            &__content{
               p{

               }
            }
         }
      }
   /*#endregion*/ 

/*#region FEATURE*/
.feature{
   background: url('../img/waves-up.jpg') bottom;
   background-size: 220% 113%;
   padding-top: 80px;
   padding-bottom: 30px;

   &__title{
      padding: 20px 0px;
      margin-top: 7vh;
      &__text{
         font-size: $font-size-mobile-title;
         color: $color-blue;
      }
   }

   &-mobile__vertical--center{
      display: flex;
      justify-content: center;
   }

   &__box{
      background-color: $color-blue;
      box-shadow: 0px 2px 4px rgba(106, 110, 113, 0.35);
      border-radius: 6px;
      width: 30%;
      margin: 5px;
      padding: 10px;
   }

   &__card{
      text-align: center;
   }
   &__photo{
      width: 15vw;
      height: 6vh;
   }
   &__content{
      color: $color-white;
      margin: 10px 0px 0px 0px;
   }
}
/*#endregion*/   

/*#region SMARTPHONE PHOTO*/
   .smartphone{
      background: url('../img/waves-down.jpg') no-repeat;
      background-size: 100% 100%;
      position: relative;
      &__picture{
         width: 100%;
      }
      &__box{
         position: absolute;
         top: 25%;
         left: 40px;
         width: 110px;
      }
      &__heading{
         &--title{
            color: $color-white;
            display: block;
            padding: 10px 0px 5px 0px;
            font-size: $font-size-mobile-title;
         }
      }
      &__content{
         a{
            img{
               height: 4vh;
               margin-bottom: 5px;
            }
         }                        
      }      
   }
/*#endregion*/ 

/*#region FAQs*/
   .faqs{
      margin-bottom: 4rem;
      &__title{
         text-align: center;
         font-size: 2.3rem;
         color: $color-blue;            
      }
      &-box{
         margin-bottom: 10px;

         &__title{
            padding: 10px 20px 10px 20px;
            background-color: rgba($color-blue, 0.4);
            font-size: $font-size-mobile-title;
            display: inline-block;
            color: $color-black;
            text-decoration: none;
            position: relative; 
            &:hover{
               color: $color-black;
               text-decoration: none;
            }                      
         }
         &__icon{
            display: inline-block;
            font-size: 1rem;
            position: absolute;
            right: 15px;
            font-weight: bold;
            top: 15px;                           
         } 
         &__collapse{
            padding: 10px 20px 10px 20px;
            transition: all .2s;
            background-color: rgba($color-blue, 0.2);
         }
      }
      .btn__custom{
         border: 1px solid $color-blue;
         border-radius: 4px;
         padding: 5px;
         width: 100%;
      }
      .btn__text-large{
         font-size: 1.4rem;
      }
   }
/*#endregion FAQs*/ 

/*#region FOOTER*/
.footer{
   background-color: rgba($color: $color-purple, $alpha: .25);
   padding: 25px 20px 5px 20px;
   &__title{
      &--large{
         font-size: 1.3rem;
      }
      &--bold{
         font-weight: bold;
      }
   }
   &__list-group{
      list-style-type: none;
   }

   &__item{
      padding: 8px 0px 0px 0px;
      display: block;
   }

   &__link{
      color: $color-black;
      &:hover{
         color: $color-black;
         text-decoration: none;
      }
   }      
}
/*#endregion FOOTER*/

#terms-and-conditions{
   font-size: 1.25rem;
   .modal-title{
      font-size: 1.25rem;
   }
   .close{
      font-size: 2.5rem;
   }
   p{
      text-align: justify;
   }
}


//------------------------------------

@media screen and (min-width: 456px){
   .header{
      padding-bottom: 170px;  
        
      &-bottom{
         margin: 5px 0px 10px 0px;
      }
   }

   /*#region FEATURE*/
      .feature{
         background-size: 220% 113%;
         padding-top: 90px;
         padding-bottom: 30px;
         
         &__photo{
            width: 12vw;
            height: 10vw;
         }
         &__content{
            color: $color-white;
            margin: 20px 0px 0px 0px;
         }
   }
   /*#endregion*/ 
}

@media screen and (min-width: 576px){
   .header{
      padding-bottom: 140px;

      &__title-secondary{
         display: none;
      }

      &-right{
         &__sm-title{
            display: block;        
            font-size: $font-size-mobile-title;
            text-align: left;
            padding: 10px 0px 6px 0px;
         }
         &__content{
            // margin-top: 1vh;
         }
         &__sm-bottom{
            display: block;
            margin-top: 2.6rem;
            &-title{
               font-size: $font-size-mobile-title;
            }
            &-download-buttons{
               a{
                  img{
                     width: calc(98% / 2);
                     height: 100%;                     
                  }
               }
            }
         }
      }
   
      &-bottom{
         display: none;
      }
   }
}


@media screen and (min-width: 768px){
   body{
      font-size: 1.8rem;
   }

   /*#region HEADER */ 
   .header{
      padding-bottom: 170px;

      &-right{
         &__sm-title{
            font-size: $font-size-md-title;
            padding: 10px 0px 5px 0px;
         }
         &__content{
            padding: 4px 0px;
         }
         &__sm-bottom{
            &-title{
               font-size: $font-size-md-title;
            }
         }
      }
   }
   /*#endregion*/ 

   /*#region STORY*/ 
   .story{
      &-box{
         &__title{
            &--large{
               font-size: $font-size-md-title;
            }
         }
         &__content{
            p{

            }
         }
      }
   }
   /*#endregion*/ 

   /*#region FEATURE*/
   .feature{
      padding-top: 120px;

      &__title{
         &__text{
            font-size: $font-size-md-title;
            color: $color-blue;
         }
      }

      &__box{
         background-color: $color-blue;
         box-shadow: 0px 2px 4px rgba(106, 110, 113, 0.35);
         border-radius: 6px;
         width: 28%;
         margin: 10px;
         padding: 15px;
      }

      &__card{
         text-align: center;
      }
      &__content{
         color: $color-white;
         margin: 15px 0px 0px 0px;
      }
   }
   /*#endregion*/  

   /*#region SMARTPHONE PHOTO*/
   .smartphone{
      &__picture{
         width: 100%;
         height: 450px;
      }
      &__box{
         top: 40%;
         left: 40px;
         width: 500px;
      }
      &__heading{
         &--title{
            font-size: $font-size-md-title;
         }
      }
      &__content{
         a{
            img{
               height: 4vh;
            }
         }                        
      }      
   }
   /*#endregion*/    
   
   /*#region FAQs*/
   .faqs{
      &__title{
         font-size: $font-size-md-title;         
      }
      &-box{
         margin-bottom: 20px;
         &__title{
            font-size: 2.2rem;                
         }
         &__icon{
            font-size: 1.2rem;
            top: 22px;                          
         } 
      }
      .btn__text-large{
         font-size: 2.2rem;
      }
   }
   /*#endregion FAQs*/ 

   /*#region FOOTER */
   .footer{
      &__title{
         &--large{
            font-size: 1.5rem;
         }
      }      

      &__item{
         font-size: 1.5rem;
      }
   }
   /*#endregion FOOTER */
}

@media screen and (min-width: 992px){
   /*#region HEADER */ 
     .header{   
      &-left__photo{
         width: 100%;
         height: 72%;
         padding: 20px 0px 0px 0px;
      }

      &-right{
         margin-top: 1.55rem;
         &__sm-title{
            font-size: $font-size-lg-title;
            padding: 19px 0px 5px 0px;
         }
         &__sm-bottom{
            &-title{
               font-size: $font-size-lg-title;
            }
         }
      }
   }
   /*#endregion*/ 

   /*#region STORY*/ 
   .story{
      &-box{
         &__title{
            &--large{
               font-size: $font-size-lg-title;
            }
         }
         &__content{
            p{

            }
         }
      }
   }
   /*#endregion*/    

   /*#region FEATURE*/
   .feature{
      padding-top: 90px;

      &__title{
            &__text{
               font-size: $font-size-lg-title;
               color: $color-blue;
            }
         }
   
         &__box{
            width: 18%;
            height: 17vw;
            margin: 4px;
            padding: 15px;
         }

         &__photo{
            width: 12vw;
            height: 5vw;
         }
         &__content{
            color: $color-white;
            margin: 15px 0px 0px 0px;
         }
   }
   /*#endregion*/
   
   /*#region SMARTPHONE PHOTO*/
   .smartphone{
      &__heading{
         &--title{
            font-size: $font-size-lg-title;
         }
      }      
   }
   /*#endregion*/ 

}

@media all and (min-width: 1024px){
   body{
      font-size: 2rem;
   }
   /*#region HEADER */ 
      .header{   
         &-left__photo{
            height: 75%;
         }

         &-right{
            margin-top: 1.6rem;
            &__sm-title{
               padding: 20px 0px 5px 0px;
            }
            &__content{

            }
         }
      }
      /*#endregion*/ 

   /*#region FEATURE*/
   .feature{
      padding-top: 90px;

      &__title{
            &__text{
               font-size: $font-size-lg-title;
               color: $color-blue;
            }
         }
   
         &__box{
            width: 19%;
            max-width: 19%;
            max-height: 20vw;
            margin: 4px;
            padding: 15px;
         }

         &__photo{
            width: 5vw;
            height: 5vw;
         }
         &__content{
            color: $color-white;
            margin: 15px 0px 0px 0px;
         }
    }
   /*#endregion*/


}


@media screen and (min-width: 1200px){

   /*#region HEADER */ 
   .header{   
         &-left__photo{
            height: 72%;
         }

         &__title{
            font-size: 5rem;
            padding: 20px 0px 20px 0px;
            margin: 20px 0px;   
            letter-spacing: .2rem;
         }

         &__sub-title{
            font-size: 1.1rem;
            top: 45px;
         }

         &-right{
            margin-top: 4rem;
            &__sm-title{
               font-size: $font-size-xl-title;
               padding: 19px 0px 5px 0px;
            }
            &__content{
               padding: 10px 0px;
            }
            &__sm-bottom{
               margin-top: 2rem;
               &-title{
                  font-size: $font-size-xl-title;
               }
            }
         }
   }
   /*#endregion*/ 

   /*#region STORY*/ 
   .story{
      &-box{
         &__title{
            &--large{
               font-size: $font-size-xl-title;
            }
         }
         &__content{
            p{

            }
         }
      }
   }
   /*#endregion*/ 
      
   /*#region FEATURE*/
   .feature{
      padding-top: 90px;
      background-size: 148% 113%;
      &__title{
            &__text{
               font-size: $font-size-xl-title;
               color: $color-blue;
            }
         }
   
         &__box{
            width: 220px;
            max-width: 220px;
            max-height: 220px;
            margin: 4px;
            padding: 15px;
         }

         &__photo{
            width: 90px;
            height: 90px;
         }
         &__content{
            color: $color-white;
            margin: 15px 0px 0px 0px;
         }
    }
   /*#endregion*/

   /*#region SMARTPHONE PHOTO*/
   .smartphone{
      &__picture{
         height: 550px;
      }
      &__heading{
         &--title{
            font-size: $font-size-xl-title;
         }
      }
      &__box{
         top: 35%;
         left: 40px;
      }
      &__content{
         a{
            img{
               height: 100%;
            }
         }                        
      }      
   }
   /*#endregion*/ 

   /*#region FAQs*/
   .faqs{
      margin-bottom: 8rem;
      &__title{
         font-size: $font-size-xl-title;
         padding: 14px 0px;         
      }
      &-box{
         &__title{
            font-size: 2.6rem;
         }
         &__icon{
            font-size: 1.4rem;     
            top: 22px;                                                  
         } 
      }
      .btn__custom{
         width: 25vw;
      }
      .btn__text-large{
         font-size: 2.4rem;
      }
   }
   /*#endregion FAQs*/  
  
   /*#region FOOTER */
   .footer{
      &__title{
         &--large{
            font-size: 1.6rem;
         }
      }      

      &__item{
         font-size: 1.6rem;
      }
   }
   /*#endregion FOOTER */

}

@media screen and (min-width: 1366px){
   body{
      font-size: 2.1rem;
   }
   /*#region HEADER*/ 
   .header{
      padding-bottom: 100px;

      &-left__photo{
         width: 100%;
         height: 70%;
      }

      &-right{
         margin-top: 1.4rem;
         &__sm-title{
            padding: 20px 0px 5px 0px;
         }
         &__content{
            padding: 8px 0px;
         }
      }   
   }
   /*#endregion*/ 
   

}
